
body { 
  background-color: dimgrey; 
  font-family: sans-serif, Helvetica Neue, Helvetica;
}

.containerA {
  color: grey;
  background: white;
  width: 960px;
}
.containerB {
  font-family: sans-serif;
  color: gray;
  background: white;
  width: 960px;
}

.containerC {
  color: gray;
  background: white;
  width: 465px;
  height: 250px;
  float: right;  
}

.wrapper {
  width: 960px;
  
}
.containerD {
  color: gray;
  background: white;
  width: 450px;
  height: 250px;
  float: left;
}

.containerE {
  color: white;
  background: dimgrey; 
}

.containerF {
  color:gray;
}

.containerG {
  color:grey;
}
.containerK {
  color: gray;
  background: white;
  width: 960px;
  clear: both;
}
  